@page
@{
    ViewData["Title"] = "Bundling";
}

@section head {
    <link rel="stylesheet" href="~/css/bundle.css" asp-append-version="true" />
}

<div>
    <p>This page references the bundled stylesheet <a href="~/css/bundle.css">/css/bundle.css</a> which result in:</p>

    <ul>
        <li><code>/scss/a.scss</code> and <code>/scss/b.scss</code> are compiled to CSS</li>
        <li><code>/css/a.css</code> and <code>/css/b.css</code> are bundled</li>
        <li>Response is minified</li>
        <li>Reference to bundle file is being fingerprinted</li>
        <li>Image urls inside the CSS are being fingerprinted</li>
        <li>Cached on both server- and client-side</li>
    </ul>
</div>
